<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
        </div>

        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-4 offset-md-4">.col-md-4 .offset-md-4</div>
        </div>

        <div class="row">
            <div class="col-8">Content 1</div>
            <div class="col-4">Content 2</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-8">Content 1</div>
        <div class="col-6 col-md-4">Content 2</div>
    </div>
    
</body>
</html>

<style>
    .col-sm {
        border-style: solid;
         }

    .col-sm-4 {
        border-style: solid;
         }

    .col-4 {
        border-style: solid;
         }

    .col-8 {
        border-style: solid;
         }

    .col-6 {
        border-style: solid;
         }

    .col-12 {
        border-style: solid;
         }

    .col-md-4 {
        border-style: solid;
         }

</style>

